@font-face {
    font-family: 'me_quran';
    src: URL('fonts/me_quran.ttf') format('truetype');
    /*src: URL('fonts/KawkabMono-Regular.ttf') format('truetype');*/
}

body, button, select, input, a {
    color: #ffffff;
}

body, button, select, input {
    background-color: #000000;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: solid white;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.quran-header {
    font-family: me_quran;
    font-size: small;
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quran-sura {
    font-family: me_quran;
    font-size: large;
    text-align: center;
}

.quran-bismilah {
    font-family: me_quran;
    font-size: large;
    font-weight: normal;
    text-align: center;
}

.quran-aya {
    font-family: me_quran;
    font-size: large;
    font-weight: normal;
}

.quran-tafseer {
    font-size: normal;
    font-weight: normal;
}
